

<div class="wrapper">
<!-- Container for the site is spanning the full width of the window -->
  <div class="container-fluid topContainer">
    <header class="row">
      <nav class="navbar navbar-default nav-wrapper" id="nav" role="banner">
        <div class="container-fluid navbarContainer">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img class="grow navLogoImg" id='navLogo' alt="TeamUp logo" src="../public/assets/images/teamup-logo-white-blue.png"> </a>
          </div>
          <ul class="nav navbar-nav navbar-right pullUp">

            <li><a class="menuOptions" href="dashboard.html">Dashboard</a></li>
            <li><a class="menuOptions" href="myprojects.html">My Projects</a></li>
            <li><a class="menuOptions" href="connections.html">My Connections</a></li>
            <li><a class="menuOptions" href="index.html"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>

          </ul>
        </div>
      </nav>
    </header>
  <!-- end of top container -->
  </div>
<!-- project list -->
<div class="container">
  <div class="row">
        <div class="spacer" style="line-height:10px;height:10px;"></div>
      <h1>My Invites</h1>
        {{#each project}}}
        <div class="container oneInvite inviteContainer">
          <a class="col projectName" href="/project/{{id}}">
            <h3 class="projectName">{{this.project_name}}</h3>
          </a>
        
          <h3 class="col col-md-3 inviteLabels">Message</h3>
            <p class="col col-md-11 smallText">Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!</p>

            <div class="spacer" style="line-height:30px;height:30px;"></div>
          <h3 class="col col-md-3 inviteLabels">Invite Sent:</h3>
          <p class="col col-md-11 smallText">May 22, 2017</p>
          <div class="spacer" style="line-height:30px;height:30px;"></div>
          <h3 class="col col-md-3 inviteLabels">Accepted?</h3>
          <p class="col col-md-11 smallText">No</p>
                      <div class="spacer" style="line-height:30px;height:30px;"></div>

        <div class="row buttonRow">
          <a href="NOT SURE">
            <button class="btn col-md-2 col-xs-12 grow respondBtn acceptBtn" action="/?_method=PUT" method="POST" class="button-size">Accept</button>
          </a>

          <a href="NOT SURE">
            <button class="btn col-md-2 col-xs-12 grow respondBtn declineBtn">Decline</button>
          </a>
        </div>

          <div class="spacer" style="line-height:30px;height:30px;"></div>
        </div>
        {{/each}}

  </div>
</div>


<!-- end of wrapper -->
</div>
