<div class="container profileContainer">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
				<div class="col col-12">
					<h2 class="profileName">Zackery Rilling</h2>
					<h3 class="profileTitle">Full Stack Developer</h3>
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
			 	<div class="col col-12">
					<img class="grow profilePic" src="../public/assets/images/zrillingz.jpg">
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>
		<div class="row">
				<div class="col col-12">
					<h2 class="profileBioLabel">Biography</h2>
						<p class="profileBioBody">
						A full stack developer in training, Zackery Rilling is a known hustler with a knack for developing useless apps for beer drinking san diegans. When he's not building apps for the lesser good, Zackery, who prefers to go by Zack, doesn't work and plays video games all day.
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>
		<div class="row">
				<div class="col col-12">
					<h2 class="profileBioLabel">Projects</h2>
			 	</div>
		</div>
		<div class="row">
				<div class="col col-12">
						<ul class="col col-md-5 col-xs-6">
							<li><a href="#" class="grow profileList">Beer and a Movie</a></li>
							<li><a href="#" class="grow profileList">Coffee and Cool-Aid</a></li>
							<li><a href="#" class="grow profileList">Diet Soda and Dank Doja</a></li>
						</ul>
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>
		<div class="spacer" style="line-height:30px;height:30px;"></div>
			<div class="row requestBtnRow">
				<div class="col col-12"><button class="btn btn-lg grow requestBtn">Send a Connection Request</button></div>
				<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			</div>
	</div>		


