<div class="container-fluid text-center homepage infoPageBannerDiv">
		<img class="bannerImg" alt="entrepreneur info page banner" src="/assets/images/entinfoheader.jpg">
			</div>

		<!-- end of top container -->
		</div>
	<div class="container-fluid infoPageSecondBigDiv">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
				<div class="col col-12">
					<h2 class="infoPageSecondHeader">How TeamUp Works for Entrepreneurs</h2>
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>

			<div class="row">
			 	<div class="col col-sm-offset-1 .col-md-8 col-lg-10">
					<div class="col col-md-4 text-center"><i class="fa fa-bullhorn fa-5x" aria-hidden="true"></i><h4>1. Post Your Idea as a Project</h4><p class="smallText">The first step in making your dreams become reality is to put your ideas on paper. Or, in this case, in the TeamUp project board.</p></div>
					<div class="col col-md-4 text-center"><i class="fa fa-users fa-5x" aria-hidden="true"></i><h4>2. Connect with the Right People</h4><p class="smallText">It's hard to build an app if you don't know how to code or have the funds to invest in a developer. Invite developers and investors to your project on TeamUp!</p></div>
					<div class="col col-md-4 text-center"><i class="fa fa-rocket fa-5x" aria-hidden="true"></i><h4>3. Bring Your Ideas to Life</h4><p class="smallText">Once you've connected with the right people, it's now time for you and your team to build the next big thing.</p></div>
			 	</div>

	


			</div>
		<div class="spacer" style="line-height:30px;height:30px;"></div>
			<div class="spacer" style="line-height:30px;height:30px;"></div>



	</div>

<div class="container infoPageThirdBigDiv">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
      <div class="col col-md-4 testimonialImg">
			<img class="trioImg" src="/assets/images/zrillingz.jpg" alt="zack's teamup profile pic">
      </div>
      <div class="col col-md-8">
        <p class="testimonialQuote" style="margin-top:45px;">"Thanks to TeamUp, I was able to build the right team to bring my dream, Coffee and Collaboaration, to the rest of the world. Thank you, TeamUp!"</br></p><p style="text-align:left;font-size:24px;font-style:italic;">- Zackery Rilling, Entrepreneur</p>
        
      </div>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
		</div>

	</div>
	<div class="container-fluid infoPageFourthBigDiv">
		<div class="container">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<h2>Start Working On Your Dream Today</h2>
			<p>We believe in empowering those that want to change the world. That's why signing up for TeamUp is free! Sign up for a free entrepreneur account, and connect with the people that can help you bring your ideas to life.</p>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<a href="/join"><button class="btn infoPageSignUpButton">SIGN UP</button></a>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
		</div>

	</div>
	</div>

