
<!-- project list -->
<div class="container">
  <div class="row">
        <div class="spacer" style="line-height:10px;height:10px;"></div>
      <h1>My Invites</h1>
        {{#each project}}
        <div class="container oneRequest requestContainer">
          <a class="col projectName" href="/project/{{this.id}}">
            <h3 class="projectName">{{this.project_name}}</h3>
          </a>

          <h3 class="col col-md-3 inviteLabels">Invitee:</h3>
          <a class="col requestFrom" href="NOT SURE">
             <p class="col col-md-11 requestor smallText">Zackery Rilling</p>
          </a>
        
          <h3 class="col col-md-3 inviteLabels">Message</h3>
            <p class="col col-md-11 smallText">Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!Let's TeamUp on your project!</p>

            <div class="spacer" style="line-height:30px;height:30px;"></div>
          <h3 class="col col-md-3 inviteLabels">Date Sent:</h3>
          <p class="col col-md-11 smallText">May 22, 2017</p>
          <div class="spacer" style="line-height:30px;height:30px;"></div>
          <h3 class="col col-md-3 inviteLabels">Accepted?</h3>
          <p class="col col-md-11 smallText">No</p>
                      <div class="spacer" style="line-height:30px;height:30px;"></div>

        <div class="row buttonRow">
          <a href="NOT SURE">
            <button class="btn col-md-2 col-xs-12 grow respondBtn removeBtn">Remove Request</button>
          </a>
          <div class="spacer" style="line-height:30px;height:30px;"></div>
        </div>
        {{/each}}

  </div>
</div>


<!-- end of wrapper -->
</div>
<!-- Start of Footer -->
