		<div class="container-fluid text-center homepageBanner">
 <img class="bannerImg" alt="teamup banner" src="assets/images/stock-22.jpg">
</div>

		<!-- Second big div after header background-->
		<div class="container" id="secondBigDiv">
			<div class="row align-items-center justify-content-center">
				<div class="col col-md-2 spacer"></div>
				<div class="col col-md-8 text-center"><h1 class="bodyHeaders" id="firstHeader">Our platform connects technology entrepreneurs with web developers and investors, helping you bring your app ideas to life.</h1></div>
				<div class="col col-md-2 spacer"></div>
				<div class="col col-md-offset"></div>
				<div class="col col-md-4 col-xs-12 text-center"><i class="fa fa-users fa-5x" aria-hidden="true"></i><h1>For Entrepreneurs</h1><p class="text-center">Have an app idea, but don't know where to start? Post your ideas on TeamUp, and invite both web developers and investors to bring your ideas to life.</p></div>
				<div class="col col-md-4 col-xs-12 text-center"><i class="fa fa-code fa-5x" aria-hidden="true"></i><h1>For Developers</h1><p class="text-center">Looking for a new and exciting project or app to develop? Find entrepreneurs with app ideas that align with your skillset, and build something revolutionary.</p></div>
				<div class="col col-md-4 col-xs-12 text-center"><i class="fa fa-usd fa-5x" aria-hidden="true"></i><br><h1>For Investors</h1><p class="text-center">Want to invest in the next big thing? Connect with passionate entrepreneurs and highly skilled web developers using TeamUp. Your next venture awaits.</p></div>
			</div>
		</div>

		
		<!-- third big div -->
		<div class="container-fluid" id="thirdBigDiv">
			<div class="row align-items-center justify-content-center">
				<div class="col col-md-2 spacer"></div>
				<div class="col col-md-8 text-center"><h1 class="bodyHeaders" id="secondHeader">118 App Ideas Have Come to Life Thanks to TeamUp</h1><img class="listofapps" alt="list of apps made thanks to teamup" src="assets/images/listofapps.png"></div>
				<div class="col col-md-2 spacer"></div>

			</div>
		</div>

		<!-- fourth big div -->
		<div class="container-fluid" id="fourthBigDiv">
			<div class="row align-items-center justify-content-center">
				<div class="col col-md-2 spacer"></div>
				<div class="col col-md-8 text-center"><h1 class="bodyHeaders" id="secondHeader">See What Projects are Trending</h1><img alt="coffee and collaboration built on teamup" src="assets/images/coffeecollabmock.png"></div>
				<div class="col col-md-2 spacer"></div>

			</div>
		</div>

</div>