
<!-- text over header image -->
			<div class="container-fluid text-center homepage infoPageBannerDiv">
		<img class="bannerImg" alt="entrepreneur info page banner" src="/assets/images/investorinfobanner.jpg">
			</div>

		<!-- end of top container -->
	</div>
	<div class="container-fluid infoPageSecondBigDiv investorInfoSecondDiv">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
				<div class="col col-12">
					<h2 class="infoPageSecondHeader">How TeamUp Works for Investors</h2>
					<div class="spacer" style="line-height:30px;height:30px;"></div>
			 	</div>
		</div>

			<div class="row">
			 	<div class="col col-sm-offset-1 .col-md-8 col-lg-10">
					<div class="col col-md-4 text-center"><i class="fa fa-bullhorn fa-5x" aria-hidden="true"></i><h4>1. Find Projects that You Want to Invest In</h4><p class="smallText">Invest in the next big thing. Search for projects that interest you and that you believe in. </p></div>
					<div class="col col-md-4 text-center"><i class="fa fa-users fa-5x" aria-hidden="true"></i><h4>2. Request to Join Projects</h4><p class="smallText">Once you've identified an idea that you want to invest in, send the entrepreneur of that idea a request to join the project.</p></div>
					<div class="col col-md-4 text-center"><i class="fa fa-rocket fa-5x" aria-hidden="true"></i><h4>3. Invest in the Future</h4><p class="smallText">Every innovative technology today once started as an idea. This is your chance to invest in tomorrow's next big innovation.</p></div>
			 	</div>

	


			</div>
		<div class="spacer" style="line-height:30px;height:30px;"></div>
			<div class="spacer" style="line-height:30px;height:30px;"></div>



	</div>

	<div class="container-fluid infoPageThirdBigDiv investorInfoThirdDiv">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<img class="trioImg" src="/assets/images/trio.jpg" alt="icon of entrepreneur, developer, investor">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
		</div>

	</div>
	<div class="container-fluid infoPageFourthBigDiv investorInfoFourthDiv">
		<div class="container">
		<div class="row">
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<h2>Start Investing in the Future</h2>
			<p>We believe in empowering those that want to change the world. That's why signing up for TeamUp is free. Sign up for a free investor account, and invest in the next big thing!</p>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<a href="/join"><button class="btn infoPageSignUpButton">SIGN UP</button></a>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
			<div class="spacer" style="line-height:30px;height:30px;"></div>
		</div>

	</div>
	</div>

