<div class="container profileContainer">
		<div class="row projectNameDiv">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			<div class="col col-12">
				<h2 class="projectName">Coffee and Collaboration</h2>
				<h3 class="projectOwner">by Zackery Rilling</h3>
			</div>
		</div>
		<div class="row projectDetailsDiv">
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Description</h2>
				<p class="projectDetailsBody">Coffee and Collaboration is an app that connects freelancers that want to collaborate on client projects together.</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Scope</h2>
				<p class="projectDetailsBody">Coffee and Collaboration is an app that connects freelancers that want to collaborate on client projects together.</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Industry</h2>
				<p class="projectDetailsBody">Business</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Needs</h2>
				<p class="projectDetailsNeeds">Needs Developers? Yes</p>
				<p class="projectDetailsNeeds">Needs Investors? Yes</p>
			</div>
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
				<h2 class="projectDetailsLabel">Project Offers</h2>
				<p class="projectDetailsNeeds">Offer to Developer: 15% Equity</p>
				<p class="projectDetailsNeeds">Offer to Investors: 25% Equity</p>
			</div>
		</div>
		<div class="row requestBtnRow">
			<div class="col col-12">
			<div class="spacer" style="line-height: 30px; height: 30px;">&nbsp;</div>
			<button class="btn btn-lg grow requestBtn">Connect with Project</button>
		</div>
	</div>
	</div>
