.profileName {
	font-size: 40px;
	font-family: 'bitter';
}
.profileTitle {
	font-size: 20px;
	font-family: 'bitter';

}

.profileContainer {
	width: 1000px;
}

.profileList {
	font-size: 20px;
	line-height: 1.75;
	color: #152b45;
}


.profileList:hover {
	color: #6dd7fb;
	text-decoration: none;
}