html {
    line-height: 1.45

}

.wrapper {
	background-color: #fff

}

h1 {
	font-family: "Bitter";
	font-size: 40px;
	padding-bottom: 20px;
}

h2 {

}

i:hover {
	color: #1eb2e4;
}

p {
	font-size: 20px;
	color: black;
}


#nav {
	border-radius: 0px;
	color: black;
	margin-bottom:0px;
	background-color: #152b45;
		vertical-align: middle;
}

#navLogo {
	width: 14%;
	margin-left: 30px;
	padding: 0 0;
	vertical-align: middle;

}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.navLogoImg {
	padding-top: 8px;
	padding-bottom: 5px;
	position: absolute;
		vertical-align: middle;

}

.navbar-brand {
	padding-top: 10px;
}

.navbar-right {
	margin-right: 0px;
}


.menuOptions {
	color: #000;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #6dd7fb;
}

.bodyHeaders {
	font-family: "Nunito";
	font-size: 35px;
}

#firstHeader {
	padding-bottom: 60px;
}

#secondHeader {
	padding-top: 100px; 
	padding-bottom: 60px;
}


.homepageText {
	color: white;
}

.homepage {
	margin-top: 130px;
}

.topContainer {
	position:relative;
	display: block;
	width: 100%;

}

.container-fluid {
	padding: 0;
}
.homepageBanner {
	
	padding: 0px;
	margin-top: 0; 
	height: 650px;
	position:relative;
	display: block;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 126, 174, 0.75), 
      rgba(1, 180, 247, 0.55), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url("../images/stock-2.jpeg");
}


.navbarContainer {
	padding-right: 25px;
	padding-left: 25px;
}

.infoPageBannerDiv {
	
	padding: 0px;
	margin-top: 0; 

	position:relative;
	display: block;
	max-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    
}

.bannerImg {
	width: 100%;
		max-width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.homepageTextDiv {
	font-family: "Nunito";
	font-weight: 700;
	background: transparent;
	font-size: 90px;
/*	background: -webkit-linear-gradient(#fff, #fff,#1eb2e4);
/**/	-webkit-background-clip: text;
*//*	-webkit-text-fill-color: transparent;
*/}

#secondBigDiv {
	padding-top: 50px;
	padding-bottom: 30px;
background-color: #ececec
 }

#thirdBigDiv {
	padding-top: 20px;
	padding-bottom: 100px;
 background-image: linear-gradient(#6dd7fb, #fff, #fff);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.0);
 }

 #fourthBigDiv {
 background-image: linear-gradient(#fff, #ececec);
 box-shadow: inset 0 0 100px hsla(0,0%,0%,.0);
 }

#fifthBigDiv {
 	background-color: #ececec;
 }




 /*FOOTER CLASSES*/
#footer {
	width: 100%;
	height: 200px;
	position: absolute;
	background-color: #152b45;
	color: white;
}

.footer__menu {
	margin-top: 15px;
	width: 75%;
	text-align: right;
}


.topFooterMenuRow {
	margin-top: 25px;
}

.footer__menu ul{
	list-style: aqua;
}

.footer__menu li{
	display:inline-block;
	margin-left:15px;
}

.footer__menu a, .footer__menu a:visited{
/*	color: #152b45;*/
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Nunito', Arial, Helvetica;

	font-size:16px;
}

.footer__menu a:hover{
	text-decoration: none;
	color: #6dd7fb;
}


.footerContent {
	color: white;
}

.footerLogo {
	width: 85%;
}

.footerSocial {
	padding-left: 10px;
}

.footerSocial a {
	padding-left: 10px;
}

.footerSocial i {
	color: #152b45;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.footerSocialIcon:hover {
	color: #6dd7fb;
}





footer a {
	color: #152b45;

}
footer a:hover {
	color: #6dd7fb;
	text-decoration: none;

}

/*NAV BAR ANIMATIONS*/
/* Pull up  */
ul.pullUp a:before
{
    position: absolute;
    width: 100%;
    height: 0px;
    left: 0px;
    bottom: 0px;
    content: '';
    background: #FFF;
    opacity: 0.3;
    transition: all 0.3s;
}

ul.pullUp a:hover:before
{
    height: 100%;
}


.signup-box {
  border: 1px solid black;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.box {
	display: flex;
	justify-content: center;
}
container {
	padding: 0;
	background-color: #1eb2e4;
}




/*MEDIA QUERIES*/


@media(max-width: 1200px) {
	.footerLogo {
		width: 35%;
	}

	.footer__menu {
		width: 100%;
		text-align: left;
	}
}


@media(max-width: 768px){
	
	.nav li {
		display: inline-block;
	}




	.footer__menu li{
		display:block;
		margin-left:0px;
	}

	.footer__menu{
		text-align: left;
	}

	.footer_nav{
		padding-left:0px;
	}
}
