 .containers3 {
 		height: 650px;
 		font-size: 20px
 		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;	
}

h1 {
	font-size: 30px;
	padding-bottom: 20px;
}


#proTab {

		background-color: #ececec
}

#devTab {

		background-color: #F0FFFF
}

#invTab {

		background-color: 	#FFFAF0
}